body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sidebar {
  width: 60%;
}

#detail {
  width: 40%;
}

#root {
  display: flex;
  flex-direction: row;

}

.sidebarUl {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  text-decoration: none;

}

.sidebarLi {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.mainText {
  border: 1px solid black;
}

.stats {
  border: 1px solid blue;
}

.attention {
  font-weight: bold;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ulStats {
  list-style-type: square;
}

h3+br {
  content: "";
  margin: 1px;
  display: block;
  font-size: 1%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.active {
  margin-right: 1%;
  font-weight: bold;
}